<head>
  <title>Leaderboard</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="header"><div class="vertical"><h1 class="title">Leaderboard</h1></div></div>
  <div class="outer">    
    <div class="subtitle">Select a player to give him points !</div>
    {{> leaderboard}}
    <hr/>
    {{> newplayer}}
  </div>
</body>

<template name="leaderboard">
  <ol class="leaderboard">
    {{#each players}}
      {{> player}}
    {{/each}}
  </ol>

  {{#if selectedName}}
    <div class="details">
      <button class="del">Delete</button>
      <div class="name">{{selectedName}}</div>
      <button class="inc">Add 5 points</button>
    </div>
  {{else}}
    <div class="message">Click a player to select</div>
  {{/if}}
</template>

<template name="player">
  <li class="player {{selected}}">
    <span class="name">{{name}}</span>
    <span class="score">{{score}}</span>
  </li>
</template>

<template name="newplayer">
  <!-- add a form below the h1 -->
  <form class="new-player">
    Some fresh meet ? t ( - _ - t )
    <input type="text" name="text" placeholder="Type to add a new player" />
  </form>
</template>