* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0 0;
  padding: 0;
}

.outer, .vertical {
  margin: 0 auto;
  max-width: 480px;
}

.header {
  background-color: white;
  background: url('/img/ao8nn10qsqpqfec2vsn8.jpg');
  background-position: center center;
  /*background-size: cover;*/
  
  text-align: center;
  font-size: 2em;
  letter-spacing: -1px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color:white;
  text-shadow: 2px 2px #000001;
  display: table;
  width: 100%;
  height: 200px;
  /*height: 1.5em;*/
  /*margin: 0 auto .75em;*/
  /*width: 1.5em;*/
}

.vertical {
  display: table-cell;
  vertical-align: middle;
}

.title {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: .3em;
  margin: 0 0 .25em;
  text-align: center;
  text-indent: .3em;
  text-transform: capitalize;
}

.subtitle {
  color: #999;
  font-size: .875em;
  margin-bottom: 2em;
  text-align: center;
}

.leaderboard {
  border-top: 1px solid #f1f1f1;
  counter-reset: ol-counter;
  list-style-type: none;
  margin: 0 0 1.5em;
  padding: 0;
}

.player {
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
  padding: .5em 0;
  position: relative;
  overflow: hidden;
  transition: background 300ms ease-out;
  border-left: 4px solid white;
}

.player:before {
  color: #999;
  content: counter(ol-counter);
  counter-increment: ol-counter;
  display: inline-block;
  font-weight: 300;
  line-height: 3em;
  text-align: center;
  vertical-align: middle;
  width: 3em;
}

.player .avatar {
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;
}

.player .name {
  display: inline-block;
  font-size: 1.25em;
  font-weight: 300;
  vertical-align: middle;
}

.player .score {
  color: #333;
  display: block;
  float: right;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 2.4em;
  padding-right: 1.25em;
}

.player.selected {
  background-color: #fefff4;
  border-left: #eb5f3a 4px solid;
}

.player:hover {
  background-color: #fefff4;
}

.details {
  overflow: hidden;
}

.new-player {
  /*margin-top: 100px;*/
}

.new-player input[type=text]{
  font-size: 30px;
  content: #fafafa;
  background-color: white;
  border: none;
  border-bottom: solid 2px DarkGray;
  text-align: center;

  
  padding: 20px;
  margin-top: 10px;
  width: 100%;
  height: 80px;
}

.details .name {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 2.25rem;
  padding-left: 1.25rem;
  vertical-align: middle;
}

.details .inc {
  border-radius: 3em;
  border: #eb5f3a 1px solid;
  background: transparent;
  color: #eb5f3a;
  cursor: pointer;
  float: right;
  font-family: 'Source Sans Pro' ,'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 10px 30px;
  transition: all 200ms ease-in;
  margin-right: 5px;
}

.details .del {
  border-radius: 3em;
  border: #eb5f3a 1px solid;
  color: #eb5f3a;
  cursor: pointer;
  
  font-family: 'Source Sans Pro' ,'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.6rem;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 5px 15px;
  transition: all 200ms ease-in;

  background-color: #eb5f3a;
  color: white;
}

.inc:hover {
  background: #eb5f3a;
  color: #fff;
}

.del:hover {
  background: white;
  color: #eb5f3a;
}

.inc:active, .del:active {
  box-shadow: rgba(0,0,0,.3) 0 1px 3px 0 inset;
}

.message {
  color: #aaa;
  line-height: 2.25rem;
  text-align: center;
}

hr {
  border: 0;
  height: 50px;
  background-image: url(/img/stripes.png);
  background-repeat: repeat;
}

@media (max-width: 500px) {
  hr {
    height: 0;
  }
  .header {
    font-size: 1.5em;
  }
  .new-player {
    display: block;
    position: fixed;
    bottom: 0;
    margin: 10px;
  }
  .new-player input[type=text]{
    font-size: 20px;
    content: #fafafa;
    background-color: white;
    border: none;
    border-bottom: solid 2px DarkGray;
    text-align: center;

    padding: 0;
    width: 100%;
    height: 30px;    
  }
  .details, .message {
    display: block;
    position: fixed;
    bottom: 100px;
    background-color: #fafafa;
    width: 100%;
    padding: 12px 15px;
    border-top: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .details .name {
    font-size: 1.2em;
    padding-left: 0;
  }

  .details .inc {
    padding: 10px 20px;
  }

  body {
    margin: 0 0 4em 0;
  }

  .player:hover {
    background-color: inherit;
  }

  .player.selected:hover {
    background-color: #fefff4;
  }
}